#Döp om filen till .env och uppdatera fälten nedan

#KALENDER_URL="https://calendar.google.com/calendar/ical/your-calendar-id/basic.ics"
#Tidrapport ACME exempel för April v17 2026
KALENDER_URL="https://calendar.google.com/calendar/ical/c_537c29e9c2b1c853311549853f4aa1f195978d6edb746871e9bf85ade0e1c191%40group.calendar.google.com/public/basic.ics"
# Hämta API TOKEN här https://www.bokio.se/hjalp/integrationer/bokio-api/automatisera-bokforingen-i-bokio-med-api-sa-gor-du/
BOKIO_API_TOKEN="bokio_api_token_here"
#Hitta company and customer_id via https://www.larswpettersson.se/projects/fakturera-tid-med-bokio
COMPANY_ID="your_company_id"
CUSTOMER_ID="your_customer_id"
TIMPRIS=1200